body{
background-color: aqua; /* centrer le texte */
text-align: center;  /* centrer le texte */

}


#previsions {
    display: flex;
    align-items: flex-end;
}

h3{
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
}
 

img{
    width: 10%;
    height: 10%;
 }